body{
        
    background-color: #7cd4f150;
    display : table-cell;
    font-family: cursive;

}

h1{
    color: #025c77;


}

h2{
    color: #9a1500;

}

header{
    text-align: center;
}



.Achivements, .Food, .More{

    display: table-cell;
    float: left;
    margin: 50px;
    border: 5px solid black;
    padding: 5px;


}



ul{

    font-variant:small-caps;
    line-height: 150%;

}


footer{

    clear: both;
    text-align: center;
    
    margin: 50px;
    border: 5px solid black;
    padding: 5px;
}