body{
        
    background-color: #7cd4f150;
    display : table-cell;
    font-family: cursive;
    margin: 10%

}

h1{
    color: #840000;
    background-color: #19dad6;


}

h2{
    color: #9a1500;

}

header{
    text-align: center;
    background-color: #7dfffc;
}



section{

    box-sizing: border-box;
    width: 28%;
    display: inline-block;
    margin:2%;
    border: 10px solid black;
    padding: 15px;
    height: 100%;
    margin-top: 50px;
    vertical-align: top;


}




ul{

    font-variant:small-caps;
    line-height: 150%;

}


footer{
    
    box-sizing:border-box;
    margin: 2%;
    clear: both;
    width: 96%;
    border: 10px solid black;
    margin: 0 auto;
    margin-top: 50px;
    background-color: antiquewhite;

}


img{
    width: 125px;
}